input{
    margin:2%
}
i{
    font-size:24px;
}
body{
    background: url(./img/bg.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
}
h3{
    margin: 0;
}
 .btn{
     background-color:  #9bc2a5;
     border: #7e9684;
 }
 #start{
    background-color:  #84af8f;
    margin: 3px;
 }
